@using ASP_SHOP.Models;
@model IEnumerable<Category>
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="categories">
        @foreach (Category item in Model)
        {
            <a class="categories__item" href="#">
                <div class="categories__subitem">
                    @item.CategoryName
                </div>
            </a>
        }
    </div>

</div>
