@using ASP_SHOP.Models
@model Cart
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="partialView">
    @Html.Partial("Cart")
</div>
@section Scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}

