* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

:root {
  --def_color: #1e1e1e;
  --def_color_hover: #2d3232;
  --addit__color: #eeeeee; }

div::-webkit-scrollbar {
  width: 0px; }

nav::-webkit-scrollbar {
  width: 0px; }

textarea::-webkit-scrollbar {
  width: 0px; }

p::-webkit-scrollbar {
  width: 0px; }

.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  justify-content: center;
  background-color: var(--def_color);
  /*&:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $def_color;
    }*/ }
  .header #navbar, .header .navbar-nav {
    height: 100%;
    flex: 1; }
  .header #navbar, .header .nav-item {
    display: flex;
    align-items: center; }
  .header a {
    color: var(--addit__color); }
  .header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    width: 90%; }
  .header__burger {
    display: none; }
  .header__logo {
    height: 90%;
    border-radius: 50%;
    overflow: hidden; }
    .header__logo img {
      max-height: 100%;
      display: block; }
  .header__title {
    font-size: 40px;
    color: var(--addit__color);
    text-align: center;
    display: flex;
    align-items: flex-end;
    margin: 10px 20px;
    font-family: 'Sigmar One', cursive; }
  .header__main {
    height: 100%;
    display: flex;
    flex: 0 0 250px;
    margin: 0 10px;
    align-items: center; }
  .header__catalog-btn {
    margin: 0 10px;
    display: flex;
    align-items: center;
    height: 70%;
    background-color: transparent;
    border: 2px solid var(--addit__color);
    border-radius: 5px;
    padding: 5px;
    color: var(--addit__color);
    font-size: 20px;
    flex: 0 0 200px;
    cursor: pointer; }
    .header__catalog-btn img {
      max-height: 70%;
      margin-right: 10px; }
    .header__catalog-btn:hover span {
      text-shadow: 1px 1px 12px #fff; }
    .header__catalog-btn:hover {
      background-color: var(--def_color_hover); }
  .header__search {
    margin: 0 10px;
    display: flex;
    flex: 1;
    background-color: #eee;
    height: 60%;
    border-radius: 10px; }
    .header__search a {
      background-color: var(--addit__color);
      color: var(--def_color);
      display: block;
      border-radius: 0 5px 5px 0;
      padding: 5px;
      height: 100%;
      text-align: center;
      font-size: 24px;
      width: 100%;
      border: 1px solid gray; }
    .header__search input[type="search"] {
      height: 100%;
      background-color: #eee;
      border: 0;
      font-size: 20px;
      width: 100%;
      padding-right: 2%; }
    .header__search input:focus::-webkit-input-placeholder {
      color: transparent; }
  .header__search-left {
    flex: 1;
    padding-left: 20px; }
  .header__search-right {
    flex: 0 0 60px;
    background-image: url("/Files/Images/loupe.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border-left: 1px solid gray; }
  .header__basket {
    height: 80%;
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    transition: .2s;
    display: flex;
    flex: 0 0 60px; }
    .header__basket:hover {
      transform: scale(1.1); }
  .header__account {
    display: flex;
    flex: 0 0 150px;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .header__account a {
      margin: 0 5px; }
    .header__account a:hover {
      text-shadow: 1px 1px 8px #fff; }
    .header__account div:first-child {
      border-right: 1px solid var(--addit__color); }
  .header__submit {
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: 0; }

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--def_color);
  justify-content: center;
  align-items: center; }
  .footer__body {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    width: 80%; }
  .footer__section {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 20px; }
  .footer__title {
    font-size: 20px;
    color: #eee;
    font-family: Arial;
    line-height: 60px;
    font-weight: bold; }
  .footer__text {
    line-height: 25px; }
    .footer__text a {
      color: #7c7a7a; }
    .footer__text a:hover {
      color: lightgray; }
  .footer__copy {
    font-family: 'Sigmar One', cursive;
    font-size: 30px;
    color: var(--addit__color);
    display: flex;
    flex-direction: column; }
    .footer__copy div {
      color: lightgray;
      font-size: 16px;
      font-family: 'Roboto', sans-serif; }
  .footer__bottom {
    margin: 25px 0;
    height: 35px; }
    .footer__bottom a {
      margin: 0 20px; }

.goods {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  margin-left: 70px; }
  .goods__item {
    position: relative;
    width: 25%;
    padding: 10px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    overflow: visible;
    height: 400px; }
  .goods__subitem {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: auto;
    transition: .2s;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 0;
    padding: 10px; }
    .goods__subitem:hover {
      border: 1px solid gray;
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
      height: calc(100% + 80px);
      z-index: 10; }
    .goods__subitem:hover .goods__title p {
      white-space: normal;
      word-break: break-word;
      overflow: auto; }
  .goods__preview {
    background-color: #fff;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    flex: 0 0 250px;
    margin-bottom: 30px; }
  .goods__price {
    font-size: 24px;
    flex: 0 0 40px;
    color: #246d35;
    font-weight: bold; }
  .goods__title {
    flex: 1;
    color: var(--def_color); }
    .goods__title p {
      font-size: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .goods__category {
    font-size: 14px;
    flex: 0 0 20px;
    color: orangered;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.filters {
  display: flex;
  width: 70px;
  background-color: var(--def_color);
  color: var(--addit__color);
  position: fixed;
  left: 0;
  top: 70px;
  height: calc(100% - 70px);
  z-index: 99;
  transition: .3s;
  padding: 30px 0; }
  .filters:hover {
    background-color: var(--def_color_hover); }
  .filters:hover .filters__select {
    background-color: var(--def_color_hover); }
  .filters--active {
    width: 300px; }
  .filters__categories {
    display: flex;
    flex-direction: column;
    padding: 5px;
    flex: 1; }
    .filters__categories img {
      height: 10%; }
  .filters__title {
    flex: 0 0 20px;
    line-height: 25px;
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center; }
  .filters__text {
    display: none;
    width: 270px;
    padding-left: 10px; }
    .filters__text ul {
      list-style: none; }
      .filters__text ul li {
        font-size: 18px;
        line-height: 40px; }
  .filters__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0; }
  .filters__checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    width: 100%; }
    .filters__checkbox + label p {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%; }
  .filters__checkbox + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid var(--addit__color);
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%; }
  .filters__checkbox:checked + label::before {
    background-color: var(--addit__color);
    border-color: lightgray;
    background-image: url("/Files/Images/checked.svg"); }
  .filters__submit {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .filters__submit input, .filters__submit a {
      width: 80%;
      padding: 5px;
      font-size: 24px;
      background-color: var(---def_color);
      color: var(---addit__color);
      border-radius: 5px;
      cursor: pointer;
      border: 1px solid var(--addit__color); }
    .filters__submit input {
      margin-bottom: 20px; }
  .filters__header {
    font-size: 26px;
    color: var(--addit__color);
    text-align: center;
    border-bottom: 1px solid var(--addit__color);
    margin: 30px 0 20px 0; }
  .filters__select {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    background-color: var(--def_color);
    color: var(--addit__color);
    padding: 5px;
    font-size: 20px;
    border-radius: 5px; }

.categories {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .categories__item {
    height: 300px;
    width: 25%;
    padding: 10px; }
  .categories__subitem {
    display: flex;
    border: 1px solid lightgray;
    color: var(--def_color);
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100%;
    width: 100%;
    /*word-wrap: break-word;*/
    word-break: break-word;
    border-radius: 5px;
    font-size: 24px;
    transition: 0s; }
    .categories__subitem:hover {
      border: 1px solid gray;
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
      transition: .1s; }

.good {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  word-break: break-word; }
  .good__info {
    display: flex;
    flex: 0 0 500px;
    height: 500px;
    border-bottom: 1px solid gray; }
  .good__comments {
    display: flex;
    flex: 1;
    /*border: 1px solid gray;*/
    margin-top: 100px;
    min-height: 200px; }
  .good__media {
    display: flex;
    height: 100%;
    width: 50%;
    padding: 3%; }
  .good__preview {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; }
  .good__preview-block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .good__description {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
    height: 100%; }
  .good__images {
    width: 120px;
    height: 100%;
    overflow: auto;
    border-right: 1px solid lightgray;
    padding-right: 15px;
    margin-right: 15px; }
  .good__image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; }
  .good__image-block {
    width: 100%;
    height: 80px;
    margin: 10px 0;
    border-radius: 5px;
    padding: 5px; }
    .good__image-block:hover {
      border: 1px solid var(--def_color_hover);
      padding: 4px; }
  .good__title {
    font-size: 28px;
    margin: 10px 0 0 0;
    color: var(--def_color); }
  .good__category {
    font-size: 18px;
    margin: 0 5px 5px 5px;
    color: orangered; }
  .good__price {
    font-size: 36px;
    color: forestgreen;
    margin-right: 30px;
    font-family: Arial; }
  .good__buy {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0; }
  .good__buy-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 20px 0; }
  .good__button {
    padding: 10px 20px;
    font-size: 20px; }

.button {
  text-align: center;
  white-space: pre;
  transition: .1s; }

.button--static {
  padding: 8px 16px; }

.pagination {
  margin: 20px auto;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

input,
select,
textarea {
  outline: none;
  color: var(--def_color);
  transition: .2s; }

.img {
  max-height: 100%;
  max-width: 100%; }

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px; }

.content {
  padding-top: 100px;
  min-height: 100vh; }

body {
  font-family: 'Roboto', sans-serif; }

label, p {
  margin: 0;
  padding: 0; }

tbody {
  font-size: 20px; }

thead, tfoot {
  font-size: 24px; }
